.main-nav {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5rem;
    background: rgb(243, 242, 242);
    display: flex;
    align-items: center;
}

.scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
}

.main-nav-logo h1 {
    margin: 0;
    font-size: 1.5 rem;

}

.main-nav-button {
    margin-left: 1.5rem;
}

.main-nav-button ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;   
}

.main-nav-button li {
    margin: 0 1rem;
}

.main-nav-button a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.main-nav-button a:hover,
.main-nav-button a:active,
.main-nav-button a.active  {
    color: rgb(232, 157, 19);
}