.normal-book {
    margin: 1em 0;
    cursor: move;
}
.main-booking {
    margin: 2.5rem 0 0 0;
    padding: 2.5rem;
    background-color: rgb(227, 245, 245);
    width: fit-content;
    block-size: fit-content;
}
